openapi: 3.0.3
info:
  title: NASA FIRMS Area Fire Detections KML Fire Footprints API
  description: 'NASA Fire Information for Resource Management System (FIRMS) REST API providing near-real-time satellite fire detections globally from MODIS (Terra/Aqua), VIIRS (S-NPP, NOAA-20, NOAA-21), and LANDSAT instruments. Data is available within 3 hours of satellite observation worldwide, with Ultra Real-Time detections available within 60 seconds for the US and Canada. Supports area-based bounding box queries, KML fire footprints by region, data availability checks, and missing data identification. A free MAP_KEY obtained via registration is required for most endpoints.

    '
  version: '4.0'
  contact:
    name: NASA FIRMS Support
    url: https://firms.modaps.eosdis.nasa.gov/contact/
  termsOfService: https://www.earthdata.nasa.gov/engage/open-data-services-and-software/data-and-information-policy
  license:
    name: NASA Open Data
    url: https://www.earthdata.nasa.gov/engage/open-data-services-and-software/data-and-information-policy
servers:
- url: https://firms.modaps.eosdis.nasa.gov
  description: NASA FIRMS production server
tags:
- name: KML Fire Footprints
  description: KMZ files containing color-coded fire footprint polygons by region
paths:
  /api/kml_fire_footprints/{region}/{date_span}/{sensor}/{filename}:
    get:
      operationId: getKmlFireFootprints
      summary: Get KML fire footprints by region
      description: 'Returns a KMZ file containing color-coded fire footprint polygons for a predefined global region and time span. Footprints are color-coded by detection age: 0-6h, 6-12h, 12-24h, and 24h+.

        '
      tags:
      - KML Fire Footprints
      parameters:
      - $ref: '#/components/parameters/Region'
      - $ref: '#/components/parameters/DateSpan'
      - $ref: '#/components/parameters/KmlSensor'
      - name: filename
        in: path
        required: true
        description: 'KMZ filename in the pattern FirespotArea_{region}_{sensor}_{date_span}.kmz

          '
        schema:
          type: string
          example: FirespotArea_canada_c6.1_24h.kmz
      responses:
        '200':
          description: KMZ file with fire footprint polygons
          content:
            application/vnd.google-earth.kmz:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/kml_fire_footprints/:
    get:
      operationId: getKmlFireFootprintsQuery
      summary: Get KML fire footprints via query parameters
      description: 'Returns a KMZ file containing color-coded fire footprint polygons for a predefined global region and time span. This variant uses query parameters instead of path segments.

        '
      tags:
      - KML Fire Footprints
      parameters:
      - name: region
        in: query
        required: true
        description: Predefined geographic region.
        schema:
          $ref: '#/components/schemas/RegionEnum'
      - name: date_span
        in: query
        required: true
        description: Time span of fire detections to include.
        schema:
          $ref: '#/components/schemas/DateSpanEnum'
      - name: sensor
        in: query
        required: true
        description: Satellite sensor source.
        schema:
          $ref: '#/components/schemas/KmlSensorEnum'
      responses:
        '200':
          description: KMZ file with fire footprint polygons
          content:
            application/vnd.google-earth.kmz:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  responses:
    NotFound:
      description: Not found — the requested resource does not exist.
      content:
        text/plain:
          schema:
            type: string
    BadRequest:
      description: Bad request — invalid or missing parameters.
      content:
        text/plain:
          schema:
            type: string
  schemas:
    KmlSensorEnum:
      type: string
      description: Satellite sensor source for KML footprint data.
      enum:
      - c6.1
      - landsat
      - suomi-npp-viirs-c2
      - noaa-20-viirs-c2
      - noaa-21-viirs-c2
      example: c6.1
    DateSpanEnum:
      type: string
      description: Time span for KML fire footprint queries.
      enum:
      - 24h
      - 48h
      - 72h
      - 7d
      example: 24h
    RegionEnum:
      type: string
      description: Predefined geographic region for KML fire footprints.
      enum:
      - canada
      - alaska
      - usa_contiguous_and_hawaii
      - central_america
      - south_america
      - europe
      - northern_and_central_africa
      - southern_africa
      - russia_asia
      - south_asia
      - southeast_asia
      - australia_newzealand
      example: south_america
  parameters:
    DateSpan:
      name: date_span
      in: path
      required: true
      description: Time span of fire detections to include.
      schema:
        $ref: '#/components/schemas/DateSpanEnum'
    KmlSensor:
      name: sensor
      in: path
      required: true
      description: Satellite sensor source for KML footprints.
      schema:
        $ref: '#/components/schemas/KmlSensorEnum'
    Region:
      name: region
      in: path
      required: true
      description: Predefined geographic region.
      schema:
        $ref: '#/components/schemas/RegionEnum'
